@page "/agendamentos"
@attribute [Authorize]

<PageTitle>Agendamentos</PageTitle>

<h1>Agendamentos</h1>

<div>
    Selecione a Aeronave
</div>

<div>
    Agendamentos
    <div>
        <AgendamentoCard />
    </div>
</div>
